
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  .white-link {
    color: white;
  }
  
  
  .buttons-row {
    display: flex;
    gap: 20px; 
  }
  
  button {
    width: 200px; 
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  